<li class="keyvalue" data-equalizer>
	<h5 class="name {{ keyvalue.flag }}" data-equalizer-watch>
		{{ keyvalue.name }}
		<span class="type">
			{{ keyvalue.type }}
			{% if keyvalue.limit > 0 %}
				[{{ keyvalue.limit }}]
			{% endif %}
		</span>
	</h5>

	<p class="description" data-equalizer-watch>
		{{ keyvalue.description|parseLinks | raw }}&nbsp;
	</p>
</li>

{% if keyvalue.children|length > 0 %}
	<li class="keyvalue">
		<ul>
			{% for keyvalue in keyvalue.children|sort('keyValueSort') %}
				{% include "partial/keyvalue.html.twig" %}
			{% endfor %}
		</ul>
	</li>
{% endif %}